<!-- This is the home page. -->
<!-- Look in the login folder for the login code. -->
<ActionBar class="page-title" title="Ultrafarma">
    <StackLayout orientation="horizontal">
        <Label width="25%" row="0" col="2" (tap)="showNotification()" [text]="notifyIcon" class="fa fa-bell"></Label>
        <Image ios:horizontalAlignment="center" android:horizontalAlignment="center" row="0" col="1" class="logo" src="~/images/logo.png"></Image>
        <Label width="25%" row="0" col="2" [text]="navbarIcon" (tap)="logout()" [isEnabled]="!processing" class="fa fa-sign-out-alt"></Label>
    </StackLayout>
</ActionBar>

<ScrollView orientation="vertical" sdkExampleTitle sdkToggleNavButton>
    <StackLayout orientation="vertical" class="body">
        <StackLayout orientation="vertical" class="category-box">
            <Label text="MEU" class="category-box-title one"></Label>
            <Label text="DESCONTO" class="category-box-title second"></Label>
            <GridLayout>
                    <Carousel 
                    #carousel 
                    className="teste" 
                    showIndicator="true" 
                    indicatorAnimation="worm" 
                    indicatorColor="#328035" 
                    indicatorColorUnselected="#d8ffcc" 
                    indicatorOffset="100, 100"
                    height="300px" 
                    width="100%" 
                    backgroundColor="red"
                >   
                    <CarouselItem verticalAlignment="middle">
                        <StackLayout marginLeft="25%" marginRight="25%">
                            <GridLayout columns="auto, *, auto" rows="auto, 25" verticalAlignment="middle">
                                <Image src="~/images/produto.png" rowSpan="2" width="auto" height="180" margin="3" verticalAlignment="top"></Image>
                                <Label text="Suas compras valem prêmios" color="#0c3e23" textWrap="true" col="1" colSpan="2" fontSize="18" marginTop="10"></Label>
                                <Label text="Vale compra de R$10" color="#0c3e23" col="1" row="1" fontSize="14" horizontalAlignment="left" verticalAlignment="top"></Label>
                            </GridLayout>
                        </StackLayout>
                    </CarouselItem>
                    <CarouselItem verticalAlignment="middle">
                        <StackLayout marginLeft="25%" marginRight="25%">
                            <GridLayout columns="auto, *, auto" rows="auto, 25" verticalAlignment="middle">
                                <Image src="~/images/produto.png" rowSpan="2" width="auto" height="180" margin="3" verticalAlignment="top"></Image>
                                <Label text="Suas compras valem prêmios" color="#0c3e23" textWrap="true" col="1" colSpan="2" fontSize="18" marginTop="10"></Label>
                                <Label text="Vale compra de R$10" color="#0c3e23" col="1" row="1" fontSize="14" horizontalAlignment="left" verticalAlignment="top"></Label>
                            </GridLayout>
                        </StackLayout>
                    </CarouselItem>
                </Carousel>
            </GridLayout>
            <FlexboxLayout className="see-more" flexDirection="column" width="100%" height="50" backgroundColor="lightgray">
                <Button text="veja mais" width="auto" height="50" ></Button>
            </FlexboxLayout>
        </StackLayout>
        <StackLayout orientation="vertical" class="category-box">
            <Label text="MEUS" class="category-box-title one"></Label>
            <Label text="PRÊMIOS" class="category-box-title second"></Label>
            <Carousel 
                #carousel 
                className="teste" 
                showIndicator="true" 
                indicatorAnimation="worm" 
                indicatorColor="#328035" 
                indicatorColorUnselected="#d8ffcc" 
                height="300px" 
                width="100%" 
                backgroundColor="red"
            >   
                <CarouselItem verticalAlignment="middle">
                    <StackLayout marginLeft="25%" marginRight="25%">
                        <GridLayout columns="auto, *, auto" rows="auto, 25" verticalAlignment="middle">
                            <Image src="~/images/produto.png" rowSpan="2" width="auto" height="180" margin="3" verticalAlignment="top"></Image>
                            <Label text="Suas compras valem prêmios" color="#0c3e23" textWrap="true" col="1" colSpan="2" fontSize="18" marginTop="10"></Label>
                            <Label text="Vale compra de R$10" color="#0c3e23" col="1" row="1" fontSize="14" horizontalAlignment="left" verticalAlignment="top"></Label>
                        </GridLayout>
                    </StackLayout>
                </CarouselItem>
                <CarouselItem verticalAlignment="middle">
                    <StackLayout marginLeft="25%" marginRight="25%">
                        <GridLayout columns="auto, *, auto" rows="auto, 25" verticalAlignment="middle">
                            <Image src="~/images/produto.png" rowSpan="2" width="auto" height="180" margin="3" verticalAlignment="top"></Image>
                            <Label text="Suas compras valem prêmios" color="#0c3e23" textWrap="true" col="1" colSpan="2" fontSize="18" marginTop="10"></Label>
                            <Label text="Vale compra de R$10" color="#0c3e23" col="1" row="1" fontSize="14" horizontalAlignment="left" verticalAlignment="top"></Label>
                        </GridLayout>
                    </StackLayout>
                </CarouselItem>
            </Carousel>
        </StackLayout>
    </StackLayout>
</ScrollView>
